$background-light: #212e35;
$background-dark: #111b21;
$background-aside: #1b2328;

$font-primary: #e9edef;
$font-secondary: #d0d6d8;
$font-dark: #8697a0;

$green: #05a884;

$componentsBackground-primary: #111b21;
$componentsBackground-hover: #1f2c33;
