@import "../../shared/colors";

* {
  color: $font-primary;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: .5fr 2fr .5fr;
  grid-template-areas:
        "header header"
        "aside main"
        "aside main"
        "footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: $background-light;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: $background-light;
  color: $font-secondary;
}
